/*
* Plugin
*/

@import 'plugin/_bootstrap.scss';
@import 'plugin/_tmdrPreset.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

// container for default
.default-container {
  padding: 50px 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f6f7fe;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.title {
  font-size: 60px;
  color: #122032;
  font-weight: 500;
}

.heading {
  font-size: 40px;
  color: #122032;
  font-weight: 500;

  &--secondary {
    @extend .heading;
    font-size: 32px;
  }
}

.paragraph {
  p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(18, 32, 50, 0.8);
  }
}
