/*
* Plugin
*/

@use 'plugin/_bootstrap.scss';
@use 'plugin/_tmdrPreset.scss';
@use 'utils/_transitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

.ratio-item {
  @extend %ratioItem;
}

// container for default
.default-container {
  padding: 50px 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f6f7fe;
}

.section {
  padding: 100px 0;

  &__title {
    margin-bottom: 40px;

    &--no-margin {
      margin-bottom: 12px;
    }
  }

  &__subtitle {
    margin-bottom: 40px;

    &--no-margin {
      margin-bottom: 12px;
    }
  }
}

.title {
  font-size: 60px;
  color: #122032;
  font-weight: 500;
  line-height: 1.1;
}

.subtitle {
  color: #122032;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}

.heading {
  font-size: 40px;
  color: #122032;
  font-weight: 500;

  &--secondary {
    @extend .heading;
    font-size: 32px;
  }
}

.paragraph {
  p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(18, 32, 50, 0.8);
  }
}
